body{
	background-color: #f6f6f6;
}
p{
	font-size: 15pt;
}
h1{
	color: #71b4ff;
}
h3{
	color: #71b4ff;
}
nav#menu ul{
	list-style: none;
	text-transform: uppercase;

}
nav#menu li{
	display: inline-block;
	padding: 5px;
	background-color: #dddddd;
}

.resposta{
	color: #ff3f3f;
}



